.slide-content-grid[data-v-2cfabb11]{display:grid;grid-template-columns:42fr 29fr 29fr;grid-template-rows:minmax(0,1fr);height:100%}.invert-proportions[data-v-2cfabb11]{grid-template-columns:29fr 29fr 42fr}
